* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.wrapper {
    background: black;
    padding : 40px;
    color: #fff;
}

.area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
}

.area p {
    color: #fff;
}