*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
  min-width: 1400px;
  overflow: scroll;
}
#upperSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
}
#upperSectionRightPartImage {
  width: 650px;
  height: 100%;
}

#upperSectionRightPart {
  text-align: right;
  height: 540px;
}

#upperSectionLeftPartInnerBox {
  margin: 50px;
  margin-right: 0;
  margin-top: 60px;
  padding-left: 75px;
}
#swiggyLogo {
  width: 190px;
}
nav {
  display: flex;
}
#navButtonUpperDiv {
  margin: auto;
  margin-right: 0;
  display: none;
}
#navButtonDiv {
  margin: auto;
  margin-right: 0;
  display: flex;
}
#loggedUpperDiv {
  margin: auto;
  margin-right: 0;
  display: none;
  position: relative;
}
#loggedUser {
  border: 0.1px solid rgba(128, 128, 128, 0.204);
  border-radius: 10px;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  margin: auto;
}

#loggedUser > div {
  margin: auto;
  text-align: center;
  align-items: center;
}
#loggedUser > div > button {
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: inherit;
  display: inline;
  text-align: center;
}
#loggedUser > div > button:hover,
#loggedUser > div:hover {
  cursor: pointer;
}
#loggedUser > div > img {
  width: 20px;
  height: 20px;
  margin-top: 4px;
}
.navBtn {
  width: 100px;
  padding: 10px;
  font-weight: 600;
  border: none;
  background-color: white;
  font-size: 16px;
  color: #282c3f;
}
#signupBtn {
  background-color: #282c3f;
  color: #ffffff;
}
.navBtn:hover {
  cursor: pointer;
}
#loginBtn:hover {
  color: #fc8019;
}
#randomTextHeading {
  font-size: 40px;
  font-weight: 600;
  margin-top: 80px;
  color: #282c3f;
  margin-bottom: 1%;
  transform: 1s;

}
#supporterTextHeading {
  color: #686b78;
  font-size: 24px;
  font-weight: 300;
  margin: 0%;
}
#searchBox {
  display: flex;
  width: 608px;
  margin-top: 40px;
  height: 58px;
}
#searchBar {
  font-size: 18px !important;
  font-weight: 500;
  width: 468px;
  border: none;
  outline: none;
  border: 1px solid #bebfc5;
  caret-color: #fc8019;
  padding-left: 15px;
  font-family: arial, Helvetica Neue, sans-serif;
}
#searchBar:focus {
  border: 1px solid #fc8019;
}
#searchBtn {
  width: 140px;
  font-size: 16px;
  font-weight: 700;
  background-color: #fc8019;
  color: #fff;
  border: none;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
  outline: none;
}
#searchBtn:hover {
  cursor: pointer;
}
#popularCitiesHeading {
  font-size: 15px;
  color: #a9abb2;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 10px;
}
#popularCitiesList {
  list-style-type: none;
  display: block;
  width: 570px;
  font-weight: 300;
  color: #282c3f;
  font-size: 14px;
  padding: 0;
  margin-top: 0%;
}
#popularCitiesList > li {
  float: left;
}
#popularCitiesList > li > a {
  font-size: 15px;
  font-weight: 600;
  color: #686b78;
  text-decoration: none;
  margin-right: 8px;
}
#popularCitiesList > li:nth-child(even) > a {
  color: #93959f;
}
#secondBox {
  height: 403px;
  width: 100%;
  background-color: #2b1e16;
}
#secondBoxInnerDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
}
.secondBoxInnerDivGridBox {
  width: 260px;
  height: 323px;
  margin: auto;
  text-align: center;
  color: #fff;
}
#secondBoxImage1 {
  width: 105px;
  margin-bottom: 42px;
  height: 200px;
}
#secondBoxImage2 {
  margin-bottom: 42px;
  width: 112px;
  height: 200px;
}
#secondBoxImage3 {
  margin-bottom: 42px;
  width: 124px;
  height: 200px;
}
.secondBoxHeading {
  font-size: 20px;
  font-weight: 600;
}
.secondBoxPara {
  font-size: 15px;
  margin-top: 10px;
}
#thirdBox {
  height: 570px;
  border: 1px solid rgba(245, 245, 245, 0);
  position: relative;
}
#thirdBoxInnerDiv {
  display: flex;
  flex-direction: column;
  margin: 155px 125px;
  
}
#thirdBoxInnerDivHeading {
  font-size: 40px;
  font-weight: 600;
  width: 300px;
  display: block;
  color: #282c3f;
}
#thirdBoxInnerDivPara {
  font-size: 20px;
  width: 400px;
  padding-top: 20px;
  padding-bottom: 60px;
  color: #7e808c;
  display: block;
}
#mobileImage1 {
  top: 0;
  right: 430px;
  position: absolute;
}
#mobileImage2 {
  position: absolute;
  bottom: 0;
  right: 80px;
}

#logoutDropDown {
  text-align: center;
  padding: 5px;
  position: absolute;
  margin: auto;
  width: 94%;
  right: -1px;
  border-top: 1.5px solid #fc8019;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: none;
}
#logoutDropDown > button:hover {
  cursor: pointer;
  border: 0.1px solid rgba(128, 128, 128, 0.151);
  border-radius: 10px;
  
}
#logoutDropDown > button {
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  background-color: inherit;
  border: 0.1px solid rgba(128, 128, 128, 0.075);
  border-radius: 10px;
  
}


/* responsive  */


.mySlides {
  display: none;
}
/* .mySlides img {
  vertical-align: middle;
} */

/* Slideshow container */
.slideshow-container {
/* max-width: 1000px; */
min-width: 100vw;
max-width: 100vw;
min-height: 60vh;
max-height: 60vh;

position: relative;
margin: auto;

}
/* The dots/bullets/indicators */
.dot {
height: 10px;
width: 10px;
margin: 0 2px;
background-color: #fc801a;
border-radius: 50%;
display: inline-block;
transition: background-color 0.4s ease;
position: relative;
z-index: 1;
top: -60px;
}

.active {
background-color: #717171;

}

#randomText{
  text-align: center;
  /* margin: 4px 25px 0; */
  font-size: 24px;
}
#res_para{
font-size: 13px;
color: #93959f;
margin-top: 15px;
text-align: center;
}

#SetUpYourLocation{
width: 220px;
height: 50px;
margin: 0 auto;
padding: 15px 0;
font-size: 14px;
background-color: #fc8019;
color: #fff;
border: none;
display: block;
}

#res-check-acc{
font-size: 13px;
color: #93959f;
margin-top: 20px;
text-align: center;
}
.res-login{
color: #fc8019;
}
.responsive-landing{
  display: none;
}

@media only screen and (max-width:800px) {
  .section{
    display: none;
  }
  .responsive-landing{
    display: block;
  }
  .mySlides img{
   width: 100vw;
   height: 60vh;
   /* height: 150; */
  }

}
@media only screen and (max-width:500px) {
  .responsive-landing{
    display: block;
  }
  .section{
    display: none;
  }
  .mySlides img{
    width: 100vw;
   height: 60vh;
  }
}