*{
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
}
#offerbackground{
    margin-top: 80px;
    width: 100%;
    height: 300px;
    background-color: #005062;
    color: white;
    display: flex;
    
    
}
#offerbackground h1{
    font-size: 50px;
}
#offerbackground div{
  width: 49%;
  margin: auto;
  margin-left: 150px;
  /* border: 2px solid red; */
}
#offerbackground > div >img {
    width: 46%;
    /* border: 2px solid red; */
    height: 200px;
    /* margin-right: 10px; */
   
}
#offerimgid > img{
    margin-left: 150px;
}

#filters{
    border-bottom: 1px solid grey;
    margin-bottom: 50px;
}
#filterRestaurant{
    display: flex;
    margin-left: 150px;
    /* font-size: 20px; */
}

#filterRestaurant > div> button{
    color: grey;
    padding: 15px;
    background-color: white;
    /* border-radius: 9999px; */
    margin-right: 5px;
    border: none;
    outline: none;
    font-size: 20px;
    /* border:1px solid #cecece */
}
#filterRestaurant > div #restaurantButton{
    border-bottom: 2px solid black;
    cursor: pointer;    
}

#dishesButton:hover{
    cursor: pointer;
    /* font-size: 20px; */
}


#allOffers{
    margin-left: 150px;
}
#allOffers > h2{
    padding-bottom: 0%;
    margin-bottom: 0%;
}
#allOffers>p{
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 30px;
}

/* Restaurant part Start */

#restaurantOffers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    gap: 40px;
    margin: auto;
    margin-bottom: 10vh;
    margin-top: 3px;
}
#restaurantOffers>div{
    padding: 15px;
}
#restaurantOffers>div:hover{
    border: 1px solid #cecece;
}
#restaurantOffers >div>img{
    width: 100%;
    height: 50%;
}
#restaurantOffers >div>div{
    display: flex;
    justify-content: space-between;

}
.ratingDeliveryApproxPrice{
    margin-bottom: 10px;
}
.offerContainer{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* restaurant part end */


/* payment offer css part */
#availableCoupons{
    margin-left: 150px;
}

#paymentOffers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    gap: 20px;
    margin: auto;
    margin-bottom: 50px;
    /* border: 2px solid red; */
}
#paymentOffers > div{
    border: 1px solid #daceb7;
    height: 200px;
    padding: 30px;
    
}
#paymentOffers > div > p{
    padding-top: 0%;
    /* margin-top: 9px; */
    font-size: .82rem;
}
#textCopyBotton{
    border: 2px solid #fc8019;
    padding: 0px 15px;
    background-color: white;
    height: 36px;
    color: #fc8019;
}
#paymentOffers > div > div{
    display: flex;
    border: 1px solid #daceb7;
    color: #282c3f;
    background-color: #fffae6;
    width: 10rem;
    height: 25px;
    padding-left: .5rem; 
    padding-right:1.5rem;
    padding-top: .5rem;
}
#paymentOffers > div > div >span{
    font-size: .97rem;
    font-weight: 500;
    /* border: 2px solid red; */
    text-align: center;
    justify-content: center;
    /* border-left: 1px solid #daceb7; */
    border-top-left-radius: 50%;   
    flex-grow: 1;
}

#paymentOffers > div > div > img{
    /* border: 2px solid green; */
    padding-right: 25px;
    display: block;
    width: 20px;
    height: 18px;
    /* border-right: 1px solid #daceb7; */
    border-top-right-radius: 50%;
    /* margin: auto; */
}
#couponsContainer,#SeccouponsContainer{
    display: none;
}
#BOIDCCouponCode{
    width: 50%;
    padding-right: 20px;
}



@media only screen and (max-width:800px) {
    #paymentOffers{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 800;
        }
    #paymentOffers > div{
        height: 200px;
        padding: 30px;
        
    }
  }
  @media only screen and (max-width:500px) {
    #paymentOffers{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 500;
        }
    #paymentOffers > div{
        height: 200px;
        padding: 30px;
        
    }
    #paymentOffers > div{
        border: none;
        border-bottom: 1px solid #daceb7;
          
    }
  }


  /* Bhupesh Restaurant cards style */

  
.restaurant__container {
    width: 100vw;
    padding: 20px 40px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
}

.restaurant__container.open {
    display: none;
}

.restaurant__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    padding: 20px;
    max-width: 320px;
    cursor: pointer;
}

.restaurant__wrapper:hover {
    box-shadow: 0 5px 5px 2px rgba(255, 99, 71, 0.55);
    border: 1px solid tomato;    
}

.restaurant__wrapper .restaurent__image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.restaurant__wrapper .restaurent__image img {
    width: 100%;
}

.restaurent__image .restaurent__offer--view {
    padding: 5px 15px;
    width: fit-content;
    background-color: #fff;
    box-shadow: 0 5px 5px 2px rgba(255, 99, 71, 0.55);
    border-radius: 5px;

    position: relative;
    bottom: 20px;
    display: none;   
}

.restaurent__image .restaurent__offer--view > h4 {    
    color: orangered;    
}

.restaurant__wrapper .restaurant__name {
    margin: 10px 0;        
}

.restaurant__wrapper .restaurant__name > h3 {
    font-size: 17px;

}

.restaurant__name .restaurant__menu--items {
    font-size: 14px;
    color:rgb(103, 103, 101);
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: ellipse;
}

.restaurant__wrapper .restaurant__feature {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
    width: 100%;
    font-size: 12px;
}
.restaurant__wrapper .restaurant__feature .restaurant__rating {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
    background-color: green;
    min-width: 50px;
    padding: 0 10px;    
}

.material-symbols-sharp.white {
    color: white;   
}

hr { 
    color: black;
    width: 92%; 
    margin-top: 10px;
}

.restaurant__wrapper .restaurant__feature .restaurant__rating > p {
    color: #fff;
    font-size: 12px;
}

.restaurant__feature .div__circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: tomato;
}

.restaurant__feature .restaurant__time p {
    font-size: 12px;
}

.restaurant__feature .restaurant__offer__price p {
    font-size: 12px;    
}

.restaurant__wrapper .restaurant__discount {
    display: flex;
    justify-content: space-between;
    align-items: center; 

    font-size: 15px;
    margin-top: 15px;
    color: brown; 
}

.restaurant__wrapper .restaurant__discount> img {
    width: 18px;
}

.restaurant__wrapper .quick__view {
    opacity: 0;    
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 15px;
    padding-top: 15px;
    width: 92%;
    border-top: 1px solid tomato;
    color: blueviolet;
}

.restaurant__wrapper:hover .quick__view {
    opacity: 1;    
}

/* For Mobile View Below 1050px */

@media screen and ( max-width: 1050px ) {

    .restaurant__container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
    }

    .restaurant__wrapper {
        display: flex;
        flex-direction: row; 
        justify-content: flex-start;
        align-items: center;        
        
        padding: 15px;    
        cursor: pointer;
        max-width: 100vw;
    }

    .restaurant__wrapper .restaurent__image img {
        width: 90px;
        height: 100px;
        border-radius: 10px;
        flex-grow: 0;
    }

    .restaurent__image .restaurent__offer--view {
        display: block;
    }

    .restaurent__image .restaurent__offer--view > h4 {
        font-size: 12px;
    }

    .restaurant__wrapper .restaurant__name {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        min-width: 240px;
        padding-left: 15px;
        flex-grow: 2;
    }

    .restaurant__wrapper .restaurant__name > h3 {
        font-size: 14px;
        margin-bottom: 0px;
        order: 1;
    }

    .restaurant__wrapper .restaurant__name > p {
        margin-top: 2px;
        font-size: 10px;
        order: 3;
    }

    .restaurant__wrapper .restaurant__name > .restaurant__feature {
        font-size: 10px;
        order: 2;
    }

    .restaurant__wrapper .restaurant__discount {
        display: none;
    }

    .restaurant__wrapper> hr {
        display: none;
    } 

    .restaurant__wrapper .restaurant__feature .restaurant__rating {
        background-color: white;
        padding: 0;
    }

    .restaurant__wrapper .restaurant__feature .restaurant__rating > p {
        color: black;
    }

    .restaurant__wrapper .restaurant__feature .restaurant__rating > span {
        color: black;
    }

    .restaurant__wrapper:hover {
        box-shadow: none;
        border: none;    
    }
}