.alertBox {
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.733);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.alertBox:hover {
  background-color: rgba(245, 245, 245, 0.773);
}
.alertMSG {
  margin: auto;
  margin-left: 0;
  font-size: 16px;
  font-weight: 600;
  color: black;
}
.alertBoxUpperDiv {
  width: 341px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#alertBoxUpperDiv1 {
  display: none;
}
#alertBoxUpperDiv2 {
  display: none;
}

.closePopup {
  font-weight: bold;
  font-size: 20px;
}
.closePopup:hover {
  cursor: pointer;
  color: #fc8019;
}
