 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }

 .first {
    width: 100vw;
    height: 100px;
    background-color: blueviolet;
    position: relative;
    
 }

 .second {
    width: 100vw;
    height: 100px;
    background-color: tomato;
    position: sticky;
    z-index: 6;
    top: 0;    
 }