* {
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
.navbar{
box-shadow: 0 1rem 4rem -2rem rgb(40 44 63 /15%);
position:sticky;
top: 0;
left: 0;
right: 0;
height: 6rem;
background: #fff;
z-index: 1000;
padding: 0 2rem;
}

.navbar .nav{
    max-width: 120rem;
    min-width: 20rem;
    position: relative;
    /* margin: 0 auto; */
    height: 5.5rem;
    display: flex;
    justify-content: space-between;
}
.nav #left{
    display: flex;
    align-items: center;
}
.nav #left .logo{
    padding-top: 3em;
    height: 4rem;
    padding-left: 6em;
    /* transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

#left .logo:hover{
    transform: scale(1.1);
}

.navbar .account-div{
    margin-left: 3em;
    height: 2rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 550;
    color: #3d4152;
    padding-top: 3em;
}




.account-div .right{
    position: relative;
}
.right .items{
    display: flex;
    align-items: center;
}
.right .items li{
    list-style-type: none;
    margin-right: 2rem;
    color: #3d4152;
    font-size: 1rem;
    font-weight: 500;
}
.items .nav-item{
    display: flex;
    align-items: center;
    padding-left: 1.8rem;
    position: relative;
    height: 5rem;
    cursor: pointer;
}
.items .nav-item a{
    display: flex;
    align-items: center;
    text-decoration: none; 
    color: #3d4152;
    font-size: 1rem;
    font-weight: 00;
}
.items .nav-item a span{
    margin: 1rem;
}
.nav-item #user-color{
    color:#fc8019   
}
/* .nav-item user:hover{
    display: none;  
} */


.nav-item .hovering:hover{
    color:#fc8019 ; 
}
.nav-item a:hover svg{
    fill:#fc8019 ; 
}

.right .mobile-list{
    display:none;
}

/* ********************************************user-page-main-content-div **************************************/

.user-page-main-content{
    background: #003a55d0;
    height: 90vh;
    width:100%;
    
}


.user-page-main-content-header{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
color:white;
padding:5em;
height: 1em;
position: sticky;
top: 50px;
background: #003a55d0;
}

.user-details{
    display: flex;
    flex-wrap: wrap;
}
#user-name{
    font-size:xx-large;
    font-weight: 500;
}
.user-details #user-gmail{
    padding-top: 3em;
    margin-left: 1em;
}
#edit-btn{
    color: white;
    height: 4em;
    width: 9em;
    background-color:#003a55d0;
    border-color: #fff;
    font-weight: 550;
}

.user-page-inner-content{
    background: #fff;
    height: 100vh;
    width:82em;  
    /* margin: 1rem 1rem; */
    margin-left: 1rem;
    margin-right: 1rem;
}
#user-sidebar{
    background-color:#93959f;
    height: 35rem;
    width: 18rem;
    margin: 4rem 4em 4em 4em;
    padding-bottom: 6rem;
    
   
 
    
    }
    #user-sidebar li{
        list-style-type: none;
    }
    .user-page-sidebar-items li{
    padding: 2rem 4rem;
    display: block;
    margin: 0.5rem;

    }
    .user-page-sidebar-items .sidebar-icons{
        border: 1px solid #3d4152;
        border-radius: 20px ;
        background-color:#3d4152; 
        height: 20px;   
        width: 20px;
        padding: 2%;
    }

/********************************** FOR MOBILE VIEW ****************************************/

@media (max-width:768px){

header{
    margin: 0rem;
    padding: 0rem;
}
.right .items .search{
    display: none;
}
.right .items .help{
    display: none;
}
.right .items .cart{
    display: none;
}
.right .items .user{
    display: none;
}
.right .items .offers{
    margin-right: -18rem;
    padding-left: 4.5rem;
}
.nav #left .logo{
    display: none;
}
#left .account-div{
    display: block;
}

/* .myaccount i{
    display: inline;
    padding-right: 0.2rem;
    font-size: x-large;
    border-bottom: 1.5px solid #3d4152;
    /* padding-right: 1px; */
    margin-right: 0.5rem;
} */

.location-dot{
    display:block;
}
.account-div .myaccount{
    border-bottom: none;
}
.account-div #arrow{
    display: none;
}
.nav #left{
    margin-top: -2rem;
    margin-left:-3rem;
}
.account-div .location{
    margin-left: -1rem;
}
.navbar{
    box-shadow: blur;
   
    }
    .mobile-list{
        
        position: fixed;
        bottom: 0;
        left:0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; 
        box-shadow: 1rem 1rem 1rem 0.9rem rgb(40 44 63 /15%);
        height: 7rem;
        background: #fff;

    }
    .mobile-list li{
        list-style-type: none;
    }
    .mobile-list .logo-below{
        height: 1rem;
        width: 1rem;
    }
    .mobile-list li i{
        font-size: large;
        color: #93959f;
    }
    .mobile-list .nav-mobile-icons{
        color: #93959f; 
        text-align: center;
        width: 100%;
    }
    .mobile-list li a{
        color: #282c3f;
    }
    .mobile-list .nav-mobile-icon1{
        color: #282c3f;  
        height: 10px;
        width: 40px;
    }
    .logo2{
        display: block;
    }
}





















